language: csharp
solution: Unosquare.Tubular.Lib.sln
install:
  - nuget restore Unosquare.Tubular.Lib.sln
  - rm -rf ~/.nvm && git clone https://github.com/creationix/nvm.git ~/.nvm && (cd ~/.nvm && git checkout `git describe --abbrev=0 --tags`) && source ~/.nvm/nvm.sh && nvm install $TRAVIS_NODE_VERSION
  - npm install
env:
  - TRAVIS_NODE_VERSION="4"
before_script:
  - touch ./Unosquare.Tubular/Javascript/tubular-bundle.js
  - touch /home/travis/build/unosquare/tubular/Unosquare.Tubular/Javascript/tubular-bundle.min.js
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
script:
  - xbuild /p:Configuration=Release Unosquare.Tubular.Lib.sln
  - ./node_modules/protractor/bin/webdriver-manager update
  - grunt test
