<!--This template uses tbDateTime editor instead of tbDateEditor-->

<div class="modal-body">
    <tb-form model="Model" require-authentication="false">
        <tb-text-area name="CustomerName"
                      value="Model.CustomerName"
                      show-label="true"
                      help="text area help"
                      required="true"
                      min="3" max="9"></tb-text-area>
        <tb-date-time-editor name="DateEditorDate" required="true" show-label="true" 
                             value="Model.ShippedDate" format="MM/dd/yyyy"
                             help="DateTime help" min="'01/28/2016'" 
                             }max="'05/10/2016'">
        </tb-date-time-editor>
        <tb-dropdown-editor value="Model.ShipperCity" default-value="Model.ShipperCity" 
                            name="ShipperCity" show-label="true" help="dropdown help" required="true" 
                            options-url="http://tubular.azurewebsites.net/api/orders/cities">
        </tb-dropdown-editor>
        <tb-checkbox-field name="IsShipped" 
                           value="Model.IsShipped"></tb-checkbox-field>
        <tb-hidden-field name="hiddenField" 
                         value="YouDontSeeMe"></tb-hidden-field>
        <div>
            <button id="btnSave" class="btn btn-primary" ng-click="savePopup();">
                Save
            </button>
            <button id="btnCancel" class="btn btn-danger" ng-click="closePopup()" formnovalidate>
                Cancel
            </button>
        </div>
    </tb-form>
</div>