<!--This template uses tbDateTime editor instread of tbDateEditor-->

<div style="padding:20px">
    <tb-form model="Model" require-authentication="false">
        <tb-simple-editor name="CustomerName" value="Model.CustomerName"
        required="true"  
        min="3" max="15"
        show-label="true"
        placeholder="Enter Customer"
        regex="^\D.*"
        regex-error-message="Check regex"
        help="This doesn't help at all" >
        </tb-simple-editor>
        <tb-typeahead-editor value="Model.ShipperCity" name="ShipperCity"
        show-label="true" required="true"  help="This doesn't help at all"
        options-url="http://tubular.azurewebsites.net/api/orders/searchcities">
        </tb-typeahead-editor>
        <tb-numeric-editor name="Num Editor Test" value="Model.Amount" 
        min="1" max="500" 
        show-label="true" 
        required="true" 
        help="Useless help" 
        format="C">
        </tb-numeric-editor>
        <tb-date-time-editor name="DateEditorDate" 
        required="true" 
        show-label="true" 
        value="Model.ShippedDate" 
        format="MM/dd/yyyy" 
        help = "Date help"
        min="'01/28/2016'" max="'05/10/2016'">
        </tb-date-time-editor>
        <tb-checkbox-field name="IsShipped" value="Model.IsShipped"></tb-checkbox-field>
        <div>
            <button id="btnSave" class="btn btn-primary" ng-click="savePopup();">Save</button>
            <button id="btnCancel" class="btn btn-danger" ng-click="closePopup()" formnovalidate>Cancel</button>
        </div>
    </tb-form>
</div>