<!--
    This template is used to test the following components:
        - tbForm
        - tbSimpleEditor
        - tbNumericEditor
        - tbDateEditor
        - tbCheckboxField
    -->

<h1>Testing: </h1>
<ul>
    <li>tbForm editors </li>
</ul>
<br />
<tb-grid server-url="http://tubular.azurewebsites.net/api/orders/paged" server-save-url="http://tubular.azurewebsites.net/api/orders/save"
    request-method="POST" grid-name="sampleshap1" page-size="10" require-authentication="false">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default panel-rounded">
                    <tb-grid-table class="table-bordered">
                        <tb-column-definitions>
                            <tb-column class="text-center" style="display:table-cell">
                                <div>
                                    * Form popups *
                                </div>
                            </tb-column>
                            <tb-column name="OrderID" column-type="numeric">
                                <tb-column-header>
                                    <span>{{label}}</span>
                                </tb-column-header>
                            </tb-column>
                            <tb-column name="CustomerName">
                                <tb-column-header>
                                    <span>{{label}}</span>
                                </tb-column-header>
                            </tb-column>
                            <tb-column name="Amount" column-type="numeric" aggregate="sum">
                                <tb-column-header>{{label}}</tb-column-header>
                            </tb-column>

                            <tb-column name="ShippedDate" column-type="datetimeutc">
                                <tb-column-header>
                                    <span>{{label}}</span>
                                </tb-column-header>
                            </tb-column>
                            <tb-column name="ShipperCity">
                                <tb-column-header>
                                    <span>{{label}}</span>
                                </tb-column-header>
                            </tb-column>
                        </tb-column-definitions>
                        <tb-row-set>
                            <tb-row-template ng-repeat="row in $component.rows" row-model="row" selectable="false">
                                <tb-cell-template class="text-center">
                                    <div>
                                        <button ng-click="row.editPopup('/Unosquare.Tubular.WebTest/common/formPopup.html')" class="btn btn-default btn-xs">
                                                Edit (popup 1)
                                        </button>
                                        - OR -
                                        <button ng-click="row.editPopup('/Unosquare.Tubular.WebTest/common/formPopup2.html')" class="btn btn-default btn-xs">
                                                Edit (popup 2)
                                        </button>
                                    </div>
                                </tb-cell-template>
                                <tb-cell-template>
                                    {{row.OrderID}}
                                </tb-cell-template>
                                <tb-cell-template>
                                    {{row.CustomerName}}
                                </tb-cell-template>
                                <tb-cell-template>
                                    <tb-numeric-editor value="row.Amount" format="C" min="0" max="500" required="true">
                                    </tb-numeric-editor>
                                </tb-cell-template>
                                <tb-cell-template>
                                    {{row.ShippedDate | date: 'short'}}
                                </tb-cell-template>
                                <tb-cell-template>
                                    {{row.ShipperCity}}
                                </tb-cell-template>
                            </tb-row-template>
                        </tb-row-set>
                    </tb-grid-table>
                </div>
            </div>
        </div>
    </div>
</tb-grid>