.pagination > li > a:hover,
.pager > li > a:hover,
.pagination > li > span:hover,
.pager > li > span:hover {
    top: 0;
    border-bottom-width: 4px;
}

.btn:hover {
    margin-top: 0;
    border-bottom-width: 4px;
}

.navbar {
    margin: 0;
    border-width: 0;
    background-color: #CCC;
    color: #FFF;
    text-transform: lowercase;
}
.navbar-nav>li>a {
    border-bottom: 2px solid #CCC;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: #CCC;
    border-bottom: 2px solid #44c5db;
}
a.navbar-brand {
    color: white;
}
a.navbar-brand:hover, a.navbar-brand:focus  {
    color: #44c5db
}
#wrapper {
	min-height:100%;
	position:relative;
}
div.content-body {
    padding-bottom:150px;
}
footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 120px;
}
footer h4 {
    color: #44c5db;
}
ul.sociallist a {
    color: #FFF;
    font-size: 18px;
}
    ul.sociallist a:hover {
        color: #44c5db;
    }

footer img {
    width: 100px;
}

@media only screen and (min-width : 768px) {
    footer img {
        width: 178px;
    }

    ul.sociallist a {
        font-size: 22px;
    }
}

/* Widget */
.maximize {
    position: absolute;
    z-index: 5001;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    height: 100%;
}