<div>
    <form class="tubular-column-filter-form" onsubmit="return false;">
        <select class="form-control" ng-options="key as value for (key , value) in $ctrl.filterOperators" ng-model="$ctrl.filter.Operator"
            ng-hide="$ctrl.dataType == 'boolean'"></select>
        <div class="input-group">
            <input type="text" class="form-control" uib-datepicker-popup="MM/dd/yyyy" ng-model="$ctrl.filter.Text" autofocus ng-keypress="$ctrl.checkEvent($event)"
                placeholder="{{'CAPTION_VALUE' | translate}}" ng-disabled="$ctrl.filter.Operator == 'None'" is-open="$ctrl.dateOpen" />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.dateOpen = !$ctrl.dateOpen"><i class="fa fa-calendar"></i></button>
            </span>
        </div>
        <hr />
        <tb-column-filter-buttons></tb-column-filter-buttons>
    </form>
</div>