<div class="btn-group" uib-dropdown>
    <button class="btn btn-info btn-sm {{::$ctrl.css}}" uib-dropdown-toggle>
        <span class="fa fa-download"></span>&nbsp;{{:: $ctrl.caption || ('UI_EXPORTCSV' | translate)}}&nbsp;<span class="caret"></span>
    </button>
    <ul class="dropdown-menu" uib-dropdown-menu>
        <li><a href="javascript:void(0)" ng-click="$ctrl.downloadCsv($parent)">{{:: $ctrl.captionMenuCurrent || ('UI_CURRENTROWS' | translate)}}</a></li>
        <li><a href="javascript:void(0)" ng-click="$ctrl.downloadAllCsv($parent)">{{:: $ctrl.captionMenuAll || ('UI_ALLROWS' | translate)}}</a></li>
    </ul>
</div>