<div class="container" ng-controller="tubularSampleCtrl">
    <p>The Tubular .NET assembly contains helpers to create models directly with your IQueryable sources like Entity Framework.</p>

    <div class="sample-content panel panel-default ng-cloak" ng-repeat="t in chartTutorial">
        <div class="panel-heading" id="{{t.key}}">
            {{t.title}}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3 col-xs-12">
                    <p>{{t.body}}</p>

                    <button class="btn btn-primary btn-block" ng-click="toggleCode(t.key)" ng-hide="source[t.key]">
                        <i class="fa fa-code"></i>&nbsp;Show Code
                    </button>
                    <button class="btn btn-primary btn-block" ng-click="toggleCode(t.key)" ng-show="source[t.key]">
                        <i class="fa fa-table"></i>&nbsp;Show Sample
                    </button>
                    <button class="btn btn-default btn-block" ng-click="openCode(t.key)">
                        <i class="fa fa-pencil"></i>&nbsp;Export to Plunker
                    </button>
                </div>
                <div class="col-md-9 col-xs-12">
                    <div ng-include src="'assets/' + t.key + '.html'" ng-hide="source[t.key]"></div>
                    <div ng-show="source[t.key]">
                        <div class="clip_button btn btn-info btn-sm">
                            <i class="fa fa-clipboard"></i>&nbsp; Copy
                        </div>
                        <div hljs source="source[t.key]"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pull-right">
        <a ng-click="scrollTo('intro')">Back to Top</a>
    </div>
</div>

<script>
    $(function () {
        new ZeroClipboard($('.clip_button')).on('ready', function () {
            this.on('copy', function (event) {
                event.clipboardData.setData('text/plain', $(event.target).next().text());
            });
        });
    });
</script>