[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
.pagination>li>a:hover, 
.pager>li>a:hover, 
.pagination>li>span:hover, 
.pager>li>span:hover {
    top: 0;
    border-bottom-width: 4px;
}
.btn:hover {
    margin-top: 0;
    border-bottom-width: 4px;
}
.btn-block+.btn-block:hover {
    margin-top: 5px;
}
.list-group a {
    cursor: pointer;
}
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
div.content-body {
    padding-bottom:100px;
}
footer {
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 20px;
    position:absolute;
	bottom:0;
	left:0;
    width:100%;
	height:100px;
}
.navbar {
    margin: 0;
    border-width: 0;
    background-color: #333;
    color: #FFF;
    text-transform: lowercase;
}
.jumbotron {
    background-image: url('background.png');
}
.navbar-nav>li>a {
    color: white;
    border-bottom: 2px solid #333;
    padding-bottom: 4px;
    margin-bottom: 8px;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    background-color: #333;
    border-bottom: 2px solid #44c5db;
}
a.navbar-brand {
    color: white;
}
a.navbar-brand:hover, a.navbar-brand:focus  {
    color: #44c5db
}
.pop {
    width: 70px;
    height: 70px;
    padding-top: 15px;
    position: absolute;
    top: -35px;
    left: -30px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #44c5db;
    color: #fff;
    line-height: 20px;
    text-align: center;
    font-weight: bolder;
}
    .pop span {
        display: block;
        font-size: 26px;
        font-weight: bold;
    }
    .clip_button {
        position: absolute;
    }
    .clip_button + div > pre {
        padding-top: 30px;
    }