<div ng-controller="tubularGeneratorCtrl">
    <div class="container">
        <div ng-hide="step != 1">
            <p ng-show="views.length == 0">
                First you need to paste a sample model, it could be any <b>JSON</b> or even you can use a <b>OData URL</b>.
                If you only want to play a little bit, give a try <a href="http://www.json-generator.com/">Json Generator</a>.
            </p>
            <p ng-show="views.length > 0">
                You can add more views to your project or just send your current work to Plunker.
            </p>
            <div class="pull-right">
                <div class="btn-group btn-group-md">
                    <button class="btn btn-primary" ng-click="generateModel()" ng-disabled="basemodel.length == 0">
                <i class="fa fa-gear"></i>&nbsp;Generate
            </button>
                    <button class="btn btn-default" ng-click="useSample()">
                <i class="fa fa-star"></i>&nbsp;Use Local Sample
            </button>
                    <button class="btn btn-default" ng-click="useServerSample()">
                <i class="fa fa-globe"></i>&nbsp;Use Server Sample
            </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div ng-hide="step != 2">
            <p>Please setup anything you need before to continue.</p>
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-warning btn-lg" ng-click="revert()">
                <i class="fa fa-arrow-left"></i>&nbsp;Start over
            </button>
                    <button class="btn btn-primary btn-lg" ng-click="runFormTemplate()">
                <i class="fa fa-gear"></i>&nbsp;Continue
            </button>
                </div>
            </div>
        </div>
        <div ng-hide="step != 3">
            <p>
                If you wish send this form to <b>Plunker</b> and you can start right now to customize it. The Tubular form
                is located as <i>form.html</i>.
                <br/>
                <b>Save and Continue</b> will save this form locally and allow to add more views to edit later.
            </p>

            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-warning btn-lg" ng-click="revert()">
                <i class="fa fa-arrow-left"></i>&nbsp;Return to Setup
            </button>
                    <button class="btn btn-success btn-lg" ng-click="cleanPlunker('form')">
                <i class="fa fa-pencil"></i>&nbsp;Export to Plunker
            </button>
                    <button class="btn btn-default btn-lg" ng-click="save('form')">
                <i class="fa fa-plus"></i>&nbsp;Save and Continue
            </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="pull-right" ng-show="views.length > 0">
            <button class="btn btn-success" ng-click="plunker()">
        <i class="fa fa-pencil"></i>&nbsp;Export All to Plunker
    </button>
            <button class="btn btn-danger" ng-click="clearViews()">
        <i class="fa fa-trash"></i>&nbsp;Clear Project
    </button>
        </div>

        <div class="row" ng-hide="step != 1">
            <div class="col-xs-12">
                <textarea ng-model="basemodel" class="form-control" rows="10" placeholder="Paste here a JSON model or an OData URL"></textarea>
                <hr/>
            </div>
        </div>

        <div class="row" ng-hide="step != 2">
            <div class="col-xs-12">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Editor Type</th>
                            <th>Label</th>
                            <th>Show Label</th>
                            <th>Placeholder</th>
                            <th>Required?</th>
                            <th>Read-Only?</th>
                            <th>
                                Format &nbsp;
                                <i class="fa fa-question-circle" uib-tooltip="Only for Numeric or Date fields"></i>
                            </th>
                            <th>
                                Help &nbsp;
                                <i class="fa fa-question-circle" uib-tooltip="Show little help text after field"></i>
                            </th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in columns">
                            <td>
                                {{row.Name}}
                            </td>
                            <td>
                                <select ng-options="dataType for dataType in enums.editorTypes" class="form-control" ng-model="row.EditorType"></select>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="row.Label" ng-disabled="row.EditorType == 'tbHiddenField'" />
                            </td>
                            <td class="text-center">
                                <tb-checkbox-field value="row.ShowLabel" read-only="fieldsSettings[row.EditorType].ShowLabel == false">
                                </tb-checkbox-field>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="row.Placeholder" ng-disabled="fieldsSettings[row.EditorType].Placeholder == false"
                                />
                            </td>
                            <td class="text-center">
                                <tb-checkbox-field value="row.Required" read-only="fieldsSettings[row.EditorType].Required == false">
                                </tb-checkbox-field>
                            </td>
                            <td class="text-center">
                                <tb-checkbox-field value="row.ReadOnly" read-only="fieldsSettings[row.EditorType].ReadOnly == false">
                                </tb-checkbox-field>
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="row.Format" ng-disabled="fieldsSettings[row.EditorType].Format == false"
                                />
                            </td>
                            <td>
                                <input type="text" class="form-control" ng-model="row.Help" ng-disabled="fieldsSettings[row.EditorType].Help == false" />
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs" ng-click="removeColumn(row)">
                        Remove
                    </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <div class="row">
                    <h4>UI Options</h4>
                    <p>Please select which additional UI elements wants to show in your view.</p>
                    <div class="col-xs-4">
                        <label>
                    Model Key&nbsp;
                    <i class="fa fa-question-circle" uib-tooltip="Empty if you don't want to load a record'"></i>
                </label>
                        <input ng-model="formOptions.ModelKey" class="form-control" placeholder="Leave empty for New Record" />
                    </div>
                    <div class="col-xs-4">
                        <label>Form Layout</label>
                        <select ng-model="formOptions.Layout" class="form-control" ng-options="option for option in enums.formLayouts"></select>
                    </div>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-default" ng-model="formOptions.CancelButton" btn-checkbox>
                    Show Cancel Button
                </button>
                    </div>
                </div>
                <div class="row">
                    <h4>Server Options</h4>
                    <p>Configure the server URL.</p>
                    <div class="col-xs-4">
                        <label>Save Url</label>
                        <input type="text" ng-model="formOptions.SaveUrl" class="form-control" placeholder="Valid URL" />
                    </div>
                    <div class="col-xs-4">
                        <label>Save Http Method</label>
                        <select ng-model="formOptions.SaveMethod" class="form-control" ng-options="option for option in enums.httpMethods"></select>
                    </div>
                </div>
                <hr/>
            </div>
        </div>

        <div class="row" ng-hide="step != 3">
            <div class="col-md-12">
                <uib-tabset>
                    <uib-tab heading="Preview">
                        <div ng-include="templatename"></div>
                    </uib-tab>
                    <uib-tab heading="Source Code">
                        <div class="clip_button btn btn-info btn-sm">
                            <i class="fa fa-clipboard"></i>&nbsp; Copy
                        </div>
                        <hr />
                        <div hljs source="gridmodel"></div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        new ZeroClipboard($('.clip_button')).on('ready', function () {
            this.on('copy', function (event) {
                event.clipboardData.setData('text/plain', $(event.target).next().text());
            });
        });
    });
</script>