<div class="container" ng-controller="tubularGeneratorCtrl">
    <h1>Tubular Grid Generator</h1>

    <div class="row" ng-hide="step != 1">
        <div class="col-xs-12">
            <p>
                First you need to paste and sample model, it could be any JSON and if it has many values much better.
                If you only want to play a little bit, give a try <a href="http://www.json-generator.com/">Json Generator</a>.
            </p>
            <textarea ng-model="basemodel" class="form-control" rows="10"></textarea>
            <hr />
            <div class="pull-right">
                <div class="btn-group">
                    <button class="btn btn-primary btn-lg" ng-click="generate()" ng-disabled="basemodel.length == 0">
                        <i class="fa fa-gear"></i>&nbsp;Generate
                    </button>
                    <button class="btn btn-default btn-lg" ng-click="useSample()">
                        <i class="fa fa-star"></i>&nbsp;Use Sample
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
            <hr />
            <div class="alert alert-warning">
                <b>Attention</b> If you need to generate another you need to refresh the page, we are working on a fix.
            </div>
        </div>
    </div>
    
    <div class="row" ng-hide="step != 2">
        <div class="col-xs-12">
            <p>Please setup anything you need before to continue.</p>
            <table class="table">
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Label</td>
                        <td>Data Type</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in columns">
                        <td>{{row.Name}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="pull-right">
                <button class="btn btn-primary btn-lg" ng-click="runTemplate()">
                    <i class="fa fa-gear"></i>&nbsp;Continue
                </button>
            </div>
        </div>
    </div>

    <div class="row" ng-hide="step != 3">
        <div class="col-xs-12">
            <div ng-include="templatename"></div>
        </div>
    </div>

    <div class="row" ng-hide="step != 3">
        <div class="col-xs-12">
            <hr />
            <div class="alert alert-warning">
                Now you can edit your grid template and include features like sorting and filtering.
                You need to replace the <i>server-url</i> attribute to match you REST service.
                <br />
                Please first allow popups to send your code to Plunker.
                <div class="pull-right">
                    <button class="btn btn-success" ng-click="plunker()">
                        <i class="fa fa-pencil"></i>&nbsp;Send to Plunker
                    </button>
                </div>
            </div>
            <div hljs source="gridmodel"></div>
        </div>
    </div>
</div>