<div class="container" ng-controller="tubularSampleCtrl">
    <div class="row" ng-repeat="t in tutorial">
        <div class="col-xs-3">
            <h1>{{t.title}}</h1>

            <p>{{t.body}}</p>
            <button class="btn btn-primary" ng-click="toggleCode(t.key)" ng-hide="source[t.key]">
                Show Code
            </button>
            <button class="btn btn-primary" ng-click="toggleCode(t.key)" ng-show="source[t.key]">
                Show Sample
            </button>
        </div>
        <div class="col-xs-9">
            <div ng-include src="'assets/' + t.key + '.html'" ng-hide="source[t.key]"></div>
            <div hljs source="source[t.key]" ng-show="source[t.key]"></div>
        </div>
        <div class="col-xs-12">
            <hr />
        </div>
    </div>
</div>