<div class="container" ng-controller="tubularSampleCtrl">
    <div class="jumbotron" id="intro">
        <h1>Tubular Demo <small>a brief tutorial</small></h1>
        <p>
            Welcome to Tubular, our Grid has multiples features that you can discover in the next tutorial.
        </p>
    </div>
    <div class="sample-content">
        <h1>Requirements <small>or a lot of CDN items</small></h1>
        
        <p>
            You need to add some JS libraries to your webapp before to use Tubular. You can opt for adde them
            directly in your project or use them directly from a CDN. The requirements are:
        </p>
        <ul>
            <li><a href="http://jquery.com/">jQuery</a></li>
            <li><a href="http://getbootstrap.com/">Twitter Bootstrap</a></li>
            <li><a href="https://angularjs.org/">AngularJS (including Route, Cookies and if you want Animate)</a></li>
            <li><a href="https://angular-ui.github.io/bootstrap/">AngularJS UI Bootstrap</a></li>
            <li><a href="https://github.com/grevory/angular-local-storage">AngularJS Local Storage</a></li>
            <li><a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
        </ul>
        
        <p>You can get them all using the next lines in your initial HTML page. <a href="http://www.jsdelivr.com/">jsDelivr</a> has almost everything you need.</p>
        
        <div hljs>
<link rel="stylesheet" href="//cdn.jsdelivr.net/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="//cdn.jsdelivr.net/fontawesome/4.3.0/css/font-awesome.min.css" />

<script src="//cdn.jsdelivr.net/g/jquery,bootstrap,angularjs(angular.min.js+angular-animate.min.js+angular-cookies.min.js+angular-route.min.js),filesaver.js,angular.bootstrap(ui-bootstrap.min.js+ui-bootstrap-tpls.min.js)"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-local-storage/0.1.5/angular-local-storage.min.js"></script>
        </div>
    </div>
    <hr />
    <div class="sample-content" ng-repeat="t in tutorial">
        <div class="row">
            <div class="col-xs-12">
                <h1 id="{{t.key}}">{{t.title}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <p>{{t.body}}</p>
                <button class="btn btn-primary btn-block" ng-click="toggleCode(t.key)" ng-hide="source[t.key]">
                    <i class="fa fa-code"></i>&nbsp;Show Code
                </button>
                <button class="btn btn-primary btn-block" ng-click="toggleCode(t.key)" ng-show="source[t.key]">
                    <i class="fa fa-table"></i>&nbsp;Show Sample
                </button>
                <a ng-click="scrollTo('{{t.next}}')" ng-show="t.next" class="btn btn-success btn-block">
                    <i class="fa fa-star"></i>&nbsp;Next Sample
                </a>
            </div>
            <div class="col-md-9 col-xs-12">
                <div ng-include src="'assets/' + t.key + '.html'" ng-hide="source[t.key]"></div>
                <div hljs source="source[t.key]" ng-show="source[t.key]"></div>
            </div>
        </div>
        <div class="col-xs-12" ng-show="t.next">
            <hr />
        </div>
    </div>
    <div class="pull-right">
        <a ng-click="scrollTo('intro')">Back to Top</a>
    </div>
</div>
