<div ng-controller="expDate">
    <button id="btnExp" ng-click="changeExpirationDate()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;change expDay
    </button>
    <label id="expAuth">{{redirected}}</label>
    <br/>
    <button id="btnAuth" ng-click="isAuthenticated()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;is Authenticated?
    </button>
    <label id="isAuth">{{isAuth}}</label>
    <br/>
    <button id="btnRetData" ng-click="retrieveData()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;Retrieve Saved Data
    </button>
    <label id="lbRet">{{retSavData}}</label>
    <br/>
    <button id="btnGet" ng-click="getTest()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;Get
    </button>
    <label id="lbGet">{{getLog}}</label>
    <br/>
    <button id="btnPost" ng-click="postTest()" class="btn btn-success">
        <i class="fa fa-check-circle"></i>&nbsp;Post
    </button>
    <label id="lbPost">{{postLog}}</label>
    
</div>