<div class="container" ng-controller="tubularSampleCtrl as sample">
    <tb-form server-save-url="/api/orders/save" require-authentication="false" model="Model">
        <div class="row">
            <div class="col-md-9">
                <tb-simple-editor min="3" show-label="true" name="CustomerName" default-value="Customer" 
                                  regex="[A-Z][a-z].*" regex-error-message="Customer should start with uppercase">
                </tb-simple-editor>

                <tb-dropdown-editor name="ShipperCity" value="Model.ShipperCity"
                                    show-label="true" required="true"
                                    options-url="api/orders/cities">
                </tb-dropdown-editor>

                <tb-numeric-editor name="Amount" value="Model.Amount" min="1" max="100" format="C"
                                   show-label="true" required="true" default-value="100">
                </tb-numeric-editor>

                <tb-date-editor name="ShippedDate" required="true" format="'dd-MM-yyyy'" show-label="true"
                                default-value="{{sample.defaultDate | date}}">
                </tb-date-editor>

                <tb-checkbox-field value="Model.IsShipped" name="IsShipped" show-label="true" label="Is Shipped?">
                </tb-checkbox-field>

                <hr />
                <div class="pull-right">
                    <button class="btn btn-primary" ng-click="$parent.create()" ng-disabled="!$parent.model.$valid()">
                        <i class="fa fa-floppy-o"></i>&nbsp;Save
                    </button>
                    <button class="btn btn-danger" ng-click="$parent.cancel()">
                        <i class="fa fa-ban"></i>&nbsp;Cancel
                    </button>
                    <button class="btn btn-warning" ng-click="$parent.clear()">
                        <i class="fa fa-times"></i>&nbsp;Reset
                    </button>
                </div>
            </div>

            <div class="col-md-3">
                <div class="jumbotron">
                    <h3>Please complete the form, we must have orders.<small>Just one more.</small></h3>
                </div>
            </div>
        </div>
    </tb-form>
</div>