<div class="container" ng-controller="tubularSampleCtrl as sample">
    <tb-form server-url="/api/orders/" server-save-url="/api/orders/save">
        <div class="row">
            <div class="col-md-10">
                <h3>Edit Order <small>{{Model.OrderID}}</small></h3>

                <tb-simple-editor min="3" show-label="true" name="CustomerName">
                </tb-simple-editor>
                <tb-dropdown-editor name="ShipperCity" value="Model.ShipperCity" state="Model.$state.ShipperCity"
                                         show-label="true" required="true"
                                         options-url="api/orders/cities">
                </tb-dropdown-editor>

                <tb-numeric-editor name="Amount" min="1" max="100" show-label="true" required="true" format="'C'">
                </tb-numeric-editor>

                <tb-date-editor name="ShippedDate" required="true"
                                     format="'dd-MM-yyyy'" show-label="true" label="Shipped Date please">
                </tb-date-editor>

                <tb-hidden-field name="OrderID" is-key="true" value="Model.OrderID">
                </tb-hidden-field>

                <div class="form-control">
                    <tb-checkbox-field value="Model.IsShipped" name="IsShipped" show-label="true" label="Is Shipped?">
                    </tb-checkbox-field>
                </div>

                <hr />

                <button class="btn btn-primary" ng-click="$parent.save()" ng-disabled="!Model.$valid()">Save</button>
                <button class="btn btn-danger" ng-click="$parent.gotoView('/')">Cancel</button>
            </div>
        </div>
    </tb-form>
</div>