<div class="container" ng-controller="tubularSampleCtrl as sample">
    <tb-form server-url="/api/orders/"
             server-save-url="/api/orders/save">
        <div class="row">
            <div class="col-md-10">
                <h2>Edit Order <small>{{Model.OrderID}}</small></h2>

                <tb-simple-editor min="3" show-label="true" name="CustomerName" help="Please a good name">
                </tb-simple-editor>

                <tb-dropdown-editor name="ShipperCity" value="Model.ShipperCity" state="Model.$state.ShipperCity"
                                    show-label="true" required="true"
                                    options-url="api/orders/cities">
                </tb-dropdown-editor>

                <tb-numeric-editor name="Amount" min="1" max="100" show-label="true" required="true" format="'C'">
                </tb-numeric-editor>

                <tb-date-editor name="ShippedDate" required="true"
                                format="'dd-MM-yyyy'" show-label="true" label="Shipped Date please">
                </tb-date-editor>

                <tb-checkbox-field value="Model.IsShipped" name="IsShipped" show-label="true" label="Is Shipped?">
                </tb-checkbox-field>

                <tb-hidden-field name="OrderID" is-key="true" value="Model.OrderID">
                </tb-hidden-field>

                <hr />
                <button class="btn btn-primary" ng-click="$parent.save()" ng-disabled="!$parent.model.$valid()">Save</button>
                <button class="btn btn-danger" ng-click="$parent.cancel()">Go Back</button>
            </div>
        </div>
    </tb-form>
</div>