<div class="container" ng-controller="tubularSampleCtrl as sample">
    <tb-form server-save-url="/api/orders/save" is-new="true">
        <div class="row">
            <div class="col-md-9">
                <h3>New Order</h3>

                <tb-simple-editor min="3" show-label="true" name="CustomerName">
                </tb-simple-editor>
                <tb-dropdown-editor name="ShipperCity" value="Model.ShipperCity" state="Model.$state.ShipperCity"
                                         show-label="true" required="true"
                                         options-url="api/orders/cities">
                </tb-dropdown-editor>
                <tb-numeric-editor name="Amount" value="Model.Amount" min="1" max="100" state="Model.$state.Amount"
                                        show-label="true" required="true" default-value="100">
                </tb-numeric-editor>

                <tb-date-editor name="ShippedDate" required="true" format="'dd-MM-yyyy'" show-label="true" 
                                     default-value="sample.defaultDate">
                </tb-date-editor>

                <tb-hidden-field name="OrderID" is-key="true" value="Model.OrderID">
                </tb-hidden-field>
                
                <div class="form-control">
                    <label>Is Shipped?</label>
                    <input type="checkbox" ng-model="Model.IsShipped" />
                </div>

                <hr />

                <button class="btn btn-primary" ng-click="$parent.create()" ng-disabled="!$parent.model.$valid()">Save</button>
                <button class="btn btn-danger" ng-click="$parent.cancel()">Cancel</button>
            </div>

            <div class="col-md-3">
                <div class="jumbotron">
                    <h3>Please complete the form, we must have orders.</h3>
                </div>
            </div>
        </div>
    </tb-form>
</div>