<tb-form model="Model" require-authentication="false">
    <div class="modal-header">
        <h3 class="modal-title">Edit Order {{Model.OrderID}}</h3>
    </div>
    <div class="modal-body">
        <tb-simple-editor min="3" show-label="true" name="CustomerName">
        </tb-simple-editor>
        <tb-typeahead-editor value="Model.ShipperCity" name="ShipperCity"
                             show-label="true" required="true"
                             options-url="api/orders/cities">
        </tb-typeahead-editor>
        <tb-numeric-editor min="1" max="100" name="Amount" show-label="true"
                           required="true" format="C">
        </tb-numeric-editor>
        <tb-date-editor required="true" name="ShippedDate" show-label="true">
        </tb-date-editor>
        <tb-simple-editor name="InvalidField" label="Invalid String Field" show-label="true"
                          required="true">
        </tb-simple-editor>
        <tb-numeric-editor name="InvalidIntField" label="Invalid Numeric Field" show-label="true"
                           required="true">
        </tb-numeric-editor>
        <tb-text-area name="testTextArea" label="Test" show-label="true" max="10"
                      required="true"></tb-text-area>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="savePopup()" ng-disabled="!Model.$valid()">
            Save
        </button>
        <button class="btn btn-danger" ng-click="closePopup()">
            Cancel
        </button>
    </div>
</tb-form>