<div class="container" ng-controller="tubularSampleCtrl as sample">
    <script type="text/ng-template" id="myModalContent.html">
        <tb-form row-model="Model">
            <div class="modal-header">
                <h3 class="modal-title">Edit Order {{Model.OrderID}}</h3>
            </div>
            <div class="modal-body">
                <tb-simple-editor min="3" show-label="true" name="CustomerName">
                </tb-simple-editor>
                <tb-typeahead-editor value="Model.ShipperCity" name="ShipperCity"
                                   show-label="true" required="true"
                                   options-url="api/orders/cities">
                </tb-typeahead-editor>
                <tb-numeric-editor min="1" max="100" name="Amount" show-label="true" 
                                   required="true" format="'C'">
                </tb-numeric-editor>
                <tb-date-editor required="true" name="ShippedDate" show-label="true">
                </tb-date-editor>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="savePopup()" ng-disabled="!Model.$valid()">
                    Save
                </button>
                <button class="btn btn-danger" ng-click="closePopup()">
                    Cancel
                </button>
            </div>
        </tb-form>
    </script>

    <tb-grid server-url="/api/orders/paged" server-save-url="/api/orders/save"
                  page-size="20" class="row" on-before-get-data="sample.onTableController">
        <div class="tubular-overlay" ng-show="$parent.currentRequest != null">
            <div>
                <div class="fa fa-refresh fa-2x fa-spin"></div>
            </div>
        </div>

        <!-- Main full-width container -->
        <div class="col-md-12">
            <!-- Top toolbar nested row -->
            <div class="row">
                <tb-grid-pager class="col-md-8 col-xs-12"></tb-grid-pager>
                <tb-text-search class="col-md-4 col-xs-12"></tb-text-search>
            </div>

            <!-- Main grid nested row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default panel-rounded">
                        <tb-grid-table class="table tubular-grid-table table-bordered table-responsive table-striped table-hover table-condensed">
                            <tb-column-definitions>
                                <tb-column class="text-center">
                                    <div class="btn-group">
                                        <button class="btn btn-default btn-xs" ng-click="$component.newRow()"
                                                ng-hide="$component.tempRow.$isEditing">
                                            <i class="fa fa-plus-circle"></i> New
                                        </button>
                                        <a class="btn btn-default btn-xs hidden-xs hidden-sm" href="/new" ng-hide="$component.tempRow.$isEditing">
                                            <i class="fa fa-plus-circle"></i> Page
                                        </a>
                                        <button class="btn btn-default btn-xs" ng-click="$component.clearSelection()"
                                                ng-disabled="$component.isEmptySelection()">
                                            <i class="fa fa-square-o"></i> Clear
                                        </button>
                                    </div>
                                </tb-column>
                                <tb-column name="OrderID" label="Order ID" sortable="true" sort-order="1"
                                                sort-direction="Ascending" is-key="true">
                                    <tb-column-header>ID</tb-column-header>
                                </tb-column>
                                <tb-column name="CustomerName" label="Customer" searchable="true">
                                    <tb-column-filter operator="Contains" title="Filter Customer"></tb-column-filter>
                                    <tb-column-header>
                                        <span>{{label}}</span>
                                    </tb-column-header>
                                </tb-column>
                                <tb-column name="ShipperCity" label="Shipping City" sortable="true" searchable="true">
                                    <tb-column-header>{{label}}</tb-column-header>
                                    <tb-column-options-filter operator="Multiple" options-url="/api/orders/cities"></tb-column-options-filter>
                                </tb-column>
                                <tb-column name="Amount" label="Amount" column-type="numeric">
                                    <tb-column-header>{{label}}</tb-column-header>
                                    <tb-column-filter operator="Equals"></tb-column-filter>
                                </tb-column>
                                <tb-column name="ShippedDate" label="Date" column-type="datetime">
                                    <tb-column-header>{{label}}</tb-column-header>
                                    <tb-column-date-time-filter operator="Equals"></tb-column-date-time-filter>
                                </tb-column>
                                <tb-column name="IsShipped" column-type="boolean">
                                    <tb-column-header>Shipped?</tb-column-header>
                                    <tb-column-filter operator="Equals"></tb-column-filter>
                                </tb-column>
                            </tb-column-definitions>

                            <tb-row-set>
                                <tb-empty-grid></tb-empty-grid>
                                <tb-row-template class="success" ng-show="$component.tempRow.$isEditing">
                                    <tb-cell-template>
                                        <div class="btn-group">
                                            <tb-save-button model="$component.tempRow" save-css="btn-xs hidden-xs hidden-sm"
                                                                 cancel-css="btn-danger btn-xs" is-new="true"
                                                                 component="$component">
                                            </tb-save-button>
                                        </div>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-center">
                                        <span class="small">ID is autoassigned</span>
                                    </tb-cell-template>
                                    <tb-cell-template>
                                        <tb-simple-editor value="$component.tempRow.CustomerName"
                                                               state="Model.$state.CustomerName" required="true">
                                        </tb-simple-editor>
                                    </tb-cell-template>
                                    <tb-cell-template>
                                        <tb-dropdown-editor value="$component.tempRow.ShipperCity" options="[5,6,3]">
                                        </tb-dropdown-editor>
                                    </tb-cell-template>
                                    <tb-cell-template>
                                        <tb-numeric-editor value="$component.tempRow.Amount"
                                                                state="$component.tempRow.$state.Amount" min="0" max="100"
                                                                required="true">
                                        </tb-numeric-editor>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-right col-md-3">
                                        <tb-date-time-editor value="$component.tempRow.ShippedDate">
                                        </tb-date-time-editor>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-center">
                                        <span class="small">You can't tag this order yet.</span>
                                    </tb-cell-template>
                                </tb-row-template>

                                <tb-row-template ng-repeat="cells in $component.rows" row-model="cells" selectable="true">
                                    <tb-cell-template ng-class="{'danger': rowModel.$hasChanges}">
                                        <input type="checkbox" ng-model="cells.$selected" class="hidden-xs hidden-sm"
                                               ng-click="$parent.changeSelection()" />
                                        <div class="btn-group">
                                            <tb-save-button model="cells" save-css="btn-xs hidden-xs hidden-sm"
                                                                 cancel-css="btn-danger btn-xs">
                                            </tb-save-button>
                                            <tb-edit-button model="cells" css="btn-xs hidden-xs hidden-sm">
                                            </tb-edit-button>
                                            <button ng-click="cells.editPopup('myModalContent.html')" class="btn btn-default btn-xs"
                                                    ng-hide="cells.$isEditing">
                                                Popup
                                            </button>
                                            <button ng-click="cells.editForm('/form')" class="btn btn-default btn-xs hidden-xs hidden-sm"
                                                    ng-hide="cells.$isEditing">
                                                Page
                                            </button>
                                            <tb-remove-button model="cells" class="btn-danger btn-xs" caption="Delete">
                                            </tb-remove-button>
                                        </div>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-center">
                                        <a href="#">{{cells.OrderID}}</a>
                                    </tb-cell-template>
                                    <tb-cell-template>
                                        <span ng-hide="cells.$isEditing">{{cells.CustomerName}}</span>
                                        <div ng-show="cells.$isEditing">
                                            Please use UTF-8
                                            <input type="text" ng-model="cells.CustomerName" class="form-control" />
                                        </div>
                                    </tb-cell-template>
                                    <tb-cell-template>
                                        <tb-dropdown-editor is-editing="cells.$isEditing" value="cells.ShipperCity"
                                                                 state="cells.$state.ShipperCity" options-url="api/orders/cities">
                                        </tb-dropdown-editor>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-right col-xs-2">
                                        <tb-numeric-editor is-editing="cells.$isEditing" value="cells.Amount" state="cells.$state.Amount" format="'C'"
                                                                min="1" max="100" required="true">
                                        </tb-numeric-editor>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-right">
                                        <tb-date-editor is-editing="cells.$isEditing" value="cells.ShippedDate">
                                        </tb-date-editor>
                                    </tb-cell-template>
                                    <tb-cell-template class="text-center">
                                        <input type="checkbox" ng-model="cells.IsShipped" ng-disabled="!cells.$isEditing" />
                                    </tb-cell-template>
                                </tb-row-template>
                            </tb-row-set>
                        </tb-grid-table>
                    </div>
                </div>
            </div>

            <!-- Bottom toolbar nested row -->
            <div class="row">
                <tb-grid-pager class="col-md-6 col-xs-12"></tb-grid-pager>
                <tb-page-size-selector class="col-md-3 col-xs-6"></tb-page-size-selector>
                <tb-grid-pager-info class="col-md-3 col-xs-6"></tb-grid-pager-info>
            </div>

        </div>
    </tb-grid>

    <hr />
    
    <h3>Sample using minimum settings and internal datasource</h3>

    <tb-grid service="sample.myService" class="row">

        <!-- Main grid nested row -->
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-default panel-rounded">
                <tb-grid-table class="table tubular-grid-table table-bordered">
                    <tb-column-definitions>
                        <tb-column name="Id" sortable="true" sort-order="1"
                                        sort-direction="Descending" is-key="true">
                            <tb-column-header>{{label}}</tb-column-header>
                        </tb-column>
                        <tb-column name="UserName">
                            <tb-column-header>{{label}}</tb-column-header>
                        </tb-column>
                    </tb-column-definitions>
                    <tb-row-set>
                        <tb-row-template ng-repeat="cells in $component.rows" row-model="cells">
                            <tb-cell-template>
                                {{cells.Id}}
                            </tb-cell-template>
                            <tb-cell-template>
                                {{cells.UserName}}
                            </tb-cell-template>
                        </tb-row-template>
                    </tb-row-set>
                </tb-grid-table>
            </div>
        </div>
    </tb-grid>
</div>
